:root {
    --ETCH-CONTAINER-WIDTH: 700px;
    --ETCH-CONTAINER-HEIGHT: 700px;
    --pixels-per-row: 16;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.etch-flex-container {
    box-sizing: content-box;
    width: var(--ETCH-CONTAINER-WIDTH);
    height: var(--ETCH-CONTAINER-HEIGHT);
    margin: 50px auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(var(--ETCH-CONTAINER-WIDTH) / var(--pixels-per-row));
    height: calc(var(--ETCH-CONTAINER-HEIGHT) / var(--pixels-per-row));
    border: 1px solid rgb(241, 238, 238);
    background-color:rgba(155, 152, 152, 0.425);
}

.isBlack {
    background-color: black;
}

.btn-container {
    text-align: center;
    margin-top: 50px;
}